@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'Android';
    src: url("../fontes/idroid.otf") format('opentype');
    font-weight: normal;
}

/*
#092F42 - verde escuro

#7A8C96 - cinza claro solido

#3DDB86 - verde claro solido

#FFFFFF - branco seco solido
*/

:root {
    --cor0: #c5edd6;
    --cor1: #c5ebd6; /*background*/
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
    --cor7: #092F42;
    --cor8: #7A8C96;
    --cor9: #3DDB86;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;   
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 3px 2px #092f4291;    
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 610px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 2px #092f4291;
}

nav {
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 3px 7px 9px 1px #092f4288;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor2);
    padding: 10px;
    border-radius: 3px;
    transition-duration: .4s;
}

nav a:hover {
    background-color: var(--cor4);
    color: var(--cor6);
}


main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 3px 8px 1px #092f4265;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article h1 {
    color: var(--cor6);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

article h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.3em;
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor4), transparent);
    text-indent: 10px;
    border-radius: 5px;
    text-shadow: 1px 1px 0px #092f4291;
    padding: 2px;
}

article p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

article strong {
    color: var(--cor5);
    font-weight: bold;
}

article a {
    background-color: var(--cor1);
    color: var(--cor6);
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 7px;
    
}

article a:hover {
    text-decoration: underline;
    color: var(--cor5);
}

img {
    width: 100%;
}

.pequeno {
    display: block;
    max-width: 350px;
    margin: auto;
}

.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px 20px 59% 20px;
    position: relative;      
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #092f4269;
}

aside > h3{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside p > ins {
    color: var(--cor7);
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

aside ul > li abbr {
    color: var(--cor7);
}

.encerramento {
    font-weight: bold;
    font-size: .94em;
    color: var(--cor7);
}

.encerramento > p {
    text-indent: 15px;
}

footer {
    background-image: linear-gradient(to bottom, var(--cor1), #2e9c5e, var(--cor5),  var(--cor6));
    box-shadow: 10px 10px 30px 10px var(--cor1);
    text-shadow: 0px 1px 1px #092f4291;
    color: white;
    text-align: center;
    font-size: .8em;
    padding: 5px;
   
}

footer:hover {
    color: var(--cor3);
    transition: 0.1s;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor2);
    font-weight: bolder;
    text-decoration: underline;
    transition: 0.1s;
}